/** 
 * ===========================
 *   SUMMARY
 * ===========================
 *
 * [1] Colors
 * [2] Font
 *
 */

/** 
 * ===========================
 *   START GLOBAL VARIABLES
 * ===========================
 */

// [1] Colors
$primaryColor: #21B9A0;
$secundaryColor: #123456;

// [2] Font
$fontDefault: "Helvetica Neue", arial, sans-serif;
$fontColor: #777;
$fontColorLight: #999;
$fontColorDark: #555;

/** 
 * ===========================
 *   END GLOBAL VARIABLES
 * ===========================
 */